{% extends 'djapp/base.html' %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'logout' %}">Logout</a> |
        <a href="{% url 'profile_edit' user.username %}">Edit profile</a>
    </li>
</ul>
<hr>
<h1>WELCOME to DJGRAMM</h1>
<h2>Site for your memory photo</h2>
<hr>
<section class="container">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="input-group mb-3">
            <input class="form-control" type="file" name="photo" id="formFileMultiple" multiple>
        </div>

        <div class="mb-3">
            <b><label for="description" class="form-label">Description:</label></b>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
        </div>

        <div>
            <b><label for="tag_new" class="form-label">Would you like to create new Tag?:</label></b>
            <input type="text" name="tag_new" id="tag_new" value="{{ tag.tag }}"
                   class="form-control"/>
        </div>

        <hr>

        <div class="mb-3">
            <b><label for="tags_post" class="form-label">Select tags:</label></b>
            <select class="form-control" id="tags_post" name="tags_post" multiple aria-label="multiple select example">
                {% for tag in tags %}
                <option value={{tag}}>{{tag}}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success">Post</button>
    </form>

</section>
{% endblock %}