<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>DJGRAMM</title>
    <link type="text/css" href="{% static 'djapp/css/styles.css' %}" rel="stylesheet"/>

</head>

<body class="container">
<ul class="list-group">
    <li class="list-group-item">
        User: {{ user }}
    </li>
    {% if request.user.is_authenticated %}
    <li class="list-group-item">
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'profile' user.username %}">Profile</a> |
        <a href="{% url 'add_post' %}">Add post</a>
    </li>
    {% else %}
    <li class="list-group-item">
        <a href="{% url 'home' %}">Home</a>
    </li>
    {% endif %}
</ul>
{% block content %}
{% endblock %}

</body>
</html>