{% extends 'djapp/base.html' %}

{% block content %}

<ul class="list-group">
    <li class="list-group-item">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </li>
</ul>
<hr>
<h1>WELCOME to DJGRAMM</h1>
<h2>Site for your memory photo</h2>
<hr>
<h2>All posts:</h2>
<div class="col-sm-8">
    <ol>
        {% for i in post %}

        <li>
            <table class="table table-bordered" style="">
                <tr>
                    <td>
                        {{ i.user.username }}
                    </td>
                <tr>
                <tr>
                    <td>
                        {{ i.datetime }}
                    </td>
                <tr>
                    <td>
                        {{ i.description }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="col-sm-8">
                            {% for photo in images %}
                            {% if photo.post_id == i %}
                            <img src="{{ photo.photo.url }}" width="120">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <a href="{% url 'my_post' i.id %}">GO to POST</a>
                    </td>
                <tr>
                <tr>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item">
                                {% for tag in i.tags.all %}
                                <a href="{% url 'tag_post' tag.id %}">{{tag.tag}}</a> |
                                {% endfor %}
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>
                        <form action="{% url 'like_post' %}" method='POST'>
                            {% csrf_token %}
                            <input type='hidden' name='post_id' value="{{i.id}}">
                            {% if user not in i.liked.all %}
                            <button class="btn btn-success" type='submit'>Push to Like</button>
                            {% else %}
                            <button class="btn btn-warning" type='submit'>Push to Unlike</button>
                            {% endif %}
                            <strong>{{i.liked.all.count}} likes</strong>
                        </form>
                    </td>
                </tr>
            </table>
        </li>

        {% endfor %}
    </ol>
</div>

{% endblock %}
