{% extends 'djapp/base.html' %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'logout' %}">Logout</a> |
        <a href="{% url 'profile_edit' user.username %}">Edit profile</a>
    </li>
</ul>
<hr>
<h1>WELCOME to DJGRAMM</h1>
<h2>Site for your memory photo</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img class="card-img" src="{{ user.profile.avatar.url }}" alt="{{ avatar }}">
        </div>
        <div class="col-sm-7">
            <table class="table table-bordered" style="">
                <tr>
                    <td>
                        <h3>{{ user.username }}</h3>
                    </td>
                <tr>
                    <td>
                        {{ user.first_name }} {{ user.last_name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ user.profile.bio }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr>
<h2>My posts:</h2>
<div class="col-sm-8">
    <ol>
        {% for i in post %}

        <li>
            <table class="table table-bordered" style="">
                <tr>
                    <td>
                        {{ i.datetime }}
                    </td>
                <tr>
                    <td>
                        {{ i.description }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="{% url 'my_post' i.id %}">Post photos</a>
                    </td>
                </tr>

            </table>
        </li>

        {% endfor %}
    </ol>
</div>

{% endblock %}