{% extends 'djapp/base.html' %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </li>
</ul>
<hr>
<h1>WELCOME to DJGRAMM</h1>
<h2>Site for your memory photo</h2>
<hr>
<section class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <b><label for="tag_new" class="form-label">Would you like to create new Tag?:</label></b>
            <input type="text" name="tag_new" id="tag_new" value="{{ tag.tag }}" required=""
                   class="form-control"/>
        </div>
        <button type="submit" class="btn btn-success">Add new Tag</button>
    </form>
    <hr>
    <h2>{{tag_name}} posts:</h2>
    <div class="col-sm-8">
        <ol>
            {% for i in tags %}
            <li>
                <table class="table table-bordered" style="">
                    <tr>
                        <td>
                            {{ i.datetime }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ i.description }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-outline-primary" href="{% url 'my_post' i.id %}" role="button">Go to
                                post</a>
                        </td>
                    </tr>


                </table>
            </li>
            {% endfor %}
        </ol>
    </div>


</section>
{% endblock %}